<div class="flex w-full min-h-full text-white">
  <div class="pt-12 bg-gradient-to-t from-green-500 to-green-700 flex items-center justify-center flex-1 text-shadow relative">
    <span class="text-12xl -ml-6"><%= match.competitor_two.score.point %></span>
  </div>
  <div class="pt-10 bg-gradient-to-t from-yellow-500 to-yellow-600 flex items-center justify-center flex-1 text-shadow relative">
    <span class="text-12xl -ml-6"><%= match.competitor_two.score.advantage %></span>
  </div>
  <div class="pt-10 bg-gradient-to-t from-red-500 to-red-700 flex items-center justify-center flex-1 text-shadow relative">
    <span class="text-12xl -ml-6"><%= match.competitor_two.score.penalty %></span>
    </div>
  </div>
</div>
