<div class="flex text-white"  style="height: 33.3vh">
  <div class="p-20 bg-green-600 relative">0</div>
  <div class="p-20 bg-yellow-500 relative">
    2
    <div class="absolute bottom-4 right-0 left-12 w-full">
      <div class="flex space-x-6">
        <button class="bg-black hover:bg-gray-700 py-2 px-4 rounded text-white text-lg">-1</button>
        <button class="bg-black hover:bg-gray-700 py-2 px-4 rounded text-white text-lg">+1</button>
      </div>
    </div>
  </div>
  <div class="p-20 bg-red-600 rounded-tr-md relative">
    3
    <div class="absolute bottom-4 left-0 right-0 w-full">
      <div class="flex justify-center space-x-6">
        <button class="bg-black hover:bg-gray-700 py-2 px-4 rounded text-white text-lg">-1</button>
        <button class="bg-black hover:bg-gray-700 py-2 px-4 rounded text-white text-lg">+1</button>
      </div>
    </div>
  </div>
</div>
