<div class="flex-1 text-white px-10 text-5xl">
  <div class="flex justify-between items-center w-full">
    <p class="mt-5"><%= @match.competitor_two.name %></p>
    <div class="flex flex-row space-x-2 text-xl">
      <div class="flex flex-col space-y-3">
        <button class="bg-black hover:bg-gray-700 py-2 px-4 rounded text-white">-2</button>
        <button class="bg-black hover:bg-gray-700 py-2 px-4 rounded text-white">-3</button>
        <button class="bg-black hover:bg-gray-700 py-2 px-4 rounded text-white">-4</button>
      </div>
      <div class="flex flex-col space-y-3">
        <button class="bg-black hover:bg-gray-700 py-2 px-4 rounded text-white">+2</button>
        <button class="bg-black hover:bg-gray-700 py-2 px-4 rounded text-white">+3</button>
        <button class="bg-black hover:bg-gray-700 py-2 px-4 rounded text-white">+4</button>
      </div>

    </div>
  </div>
</div>
