<div class="flex justify-center items-center min-h-screen">
  <%= button_to "Create a match",
                matches_path,
                method: :post,
                class: "shadow bg-blue-600 hover:bg-blue-700 text-5xl text-white p-8 rounded" %>
</div>
